<h1> Lista de productos disponibles </h1>
<table class="table">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Precio </th>
            <th> Stock </th>
            <th> Imagen descriptiva </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <!-- ngFor hace un foreach y ngClass agrega la clase clearance si el valor de verdad de product.clearance es true -->
            <td> {{product.name}} </td>
            <td> {{product.price | currency }} </td>
            <!-- le pone el simbolo $ y dos decimales -->
            <td><span class="badge badge-danger" *ngIf="product.stock==0"> sin stock </span>
                <span class="badge badge-success" *ngIf="product.stock!=0"> disponible </span></td>
            <td> <img [src]="product.image" [alt]="product.name" class="img-thumbnail"
                    style="width: 300px; height: 300px"></td>
        </tr>
    </tbody>
</table>