<div class="input-group">
    <button *ngIf="quantity>=10" class="btn btn-outline-primary btn-sm" (click)="downQuantityTen()">-10</button>
    <button class="btn btn-outline-primary btn-sm" (click)="downQuantity()">-1</button>
    <input type="text" class="form-control" readonly [(ngModel)]="quantity" (keypress)="onChangeQuantity($event)">
    <button class="btn btn-outline-primary btn-sm" (click)="upQuantity()">+1</button>
    <button *ngIf="max>=quantity+10" class="btn btn-outline-primary btn-sm" (click)="upQuantityTen()">+10</button>
</div>  